* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    /* align-items: center; */
} 

.form {
    background-color:#DF9755;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 5px;
    height: 15rem;
}

input {
    border-radius: 10px;
}

textarea {
    border-radius: 5px;
}

label {
    font-family: rubik;
    font-size: 15px;
}

header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: rubik;
    background-color: #EB5A3C;
    color: #EDF4C2;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #040404;
    paint-order: stroke;
}

 #message {
    background-color:#E7D283;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: rubik;
    color: #EB5A3C;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #040404;
    paint-order: stroke;
}

button:hover {
    background-color:#E7D283;
    border-color:white;
    color: white;
}


    




